name: Build and Release Go Binary

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        config:
          - os: ubuntu-latest
            goos: linux
          - os: windows-latest
            goos: windows
          - os: macos-latest
            goos: darwin
        go-version: [1.23]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}

      - name: Install dependencies
        run: |
          go mod tidy

      - name: Build Go binary
        env:
          CGO_ENABLED: 0
        run: |
          GOOS=${{ matrix.config.goos }} GOARCH=amd64 go build -ldflags="-s -w" -o errorai-${{ matrix.config.goos }}-${{ matrix.go-version }} .

      - name: Archive binary as an artifact
        uses: actions/upload-artifact@v4
        with:
          name: errorai-${{ matrix.config.goos }}-${{ matrix.go-version }}
          path: ./errorai-${{ matrix.config.goos }}-${{ matrix.go-version }}

  release:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Create GitHub Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v0.0.3
          release_name: Release v0.0.3
          draft: false
          prerelease: false

      - name: Download all artifacts
        uses: actions/download-artifact@v3
        with:
          path: artifacts/

      - name: Upload Release Assets
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./errorai-${{ matrix.config.os }}-${{ matrix.go-version }}
          asset_name: errorai-${{ matrix.config.os }}-${{ matrix.go-version }}
          asset_content_type: application/octet-stream
